* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Metal Mania', cursive;
  background-color: #111;
  color: #e60000; /* Blood Red */
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

h1 {
  font-size: 3em;
  text-shadow: 4px 4px 6px black;
}

p {
  font-size: 1.3em;
}

.swipe-up {
  position: absolute;
  bottom: 20px;
  font-size: 2em;
  color: #c90000;
  font-weight: bold;
  animation: glow 1.5s infinite alternate;
  cursor: pointer;
}

@keyframes glow {
  from { text-shadow: 0 0 10px #ff0000; }
  to { text-shadow: 0 0 20px #ff0000, 0 0 30px #800000; }
}

.links {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #222, #550000);
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -2px 15px
